Flask==1.0.2
python-dotenv==0.9.1
pytest
numpy
pygame

# Lockout Tagout module
loto

# The GPIO library should still be installable on most platforms
# but we just can't use real pin factories unless we're
# on a pi
gpiozero
RPi.GPIO
